<style>
    #allTagsSection {
        height: 450px;
        overflow-y: auto;
    }
    #tagContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tag-header {
        font-size: 1.5rem;
        margin: 10px 0;
    }
    .tag-button {
        height: 60px;
        border-radius: 35px;
        margin: 5px;
        width: 100%;
        max-width: 200px;
    }
</style>
  <div class="col-12 mx-auto text-center" id="tagContainer"> 
    <div id="typeOfTraining" class="tag-header">
        <h3>סוג אימון</h3>
    </div>
    <div id="Num" class="tag-header">
        <h3>מספר מתקנים</h3>
    </div>
    <div id="type" class="tag-header">
        <h3>סוג</h3>
    </div>
    <div id="area" class="tag-header">
        <h3>אזור</h3>
    </div>
    <div id="typeMetkan" class="tag-header">
        <h3>סוג מתקן</h3>
    </div>
</div>
    <script>
        const fetchTags = () => {
        fetch('/api/v1/tags')
            .then(response => response.json())
            .then(data => {
                data.forEach(tag => {
                    const button = document.createElement('button');
                    button.textContent = tag.name;
                    button.classList.add('btn', 'btn-secondary', 'tag-button');
                    button.onclick = () => {
                        filterByTag(tag.name);
                    };
                    if (['מספר מתקנים'].includes(tag.category.name)) {
                        document.getElementById('Num').appendChild(button);
                    } else if (['סוג'].includes(tag.category.name)) {
                        document.getElementById('type').appendChild(button);
                    } else if (['אזור'].includes(tag.category.name)) {
                        document.getElementById('area').appendChild(button);
                    } else if (['סוג מתקן'].includes(tag.category.name)) {
                        document.getElementById('typeMetkan').appendChild(button);
                    }
                });
            })
            .catch(error => console.error('Error fetching tags:', error));
        }
        
        // Call fetchData2 when the script runs
        fetchTags();
        </script>