<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <style>
        .container {
            direction: rtl;
        }

        .station-name {
            border: 1px solid #ccc;
        }

        .list-group-item {
            border: none;
            margin-bottom: 10px;
        }

        .list-group-item .fa-map-marker-alt {
            margin-left: 8px;
        }

        #stationResults {
            width: 100%;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        }

        #stationResults .station-result {
            padding: 0.5rem 1rem;
            cursor: pointer;
            background-color: white;
        }

        #stationResults .station-result:hover {
            background-color: #f8f9fa;
            /* Light grey on hover to indicate it's clickable */
        }

        #stationSearchInput {
            cursor: pointer;
        }

        .underline{
            text-decoration: underline;
        }
        
        #saveRouteBtn {
            margin: 15px auto;
            display: block;
            padding: 10px 20px;
            font-size: 18px;
            background-color: #f8f9fa;
            border: 1px solid black;
            color: black;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        #saveRouteBtn:hover {
            color: white;
            background-color: black;
            opacity: 80%;
        }
    </style>

    <body>
        <%- include('partials/navbar', {currentPage: 'Manage Route / Places' }) %>

            <div class="container mt-5" style="max-width: 50%; margin: auto;">
                <h1 class="text-center"> עדכון תחנות</h1>

                <div class="form-group d-flex align-items-center mt-4 justify-content-between flex-wrap">
                    <div class="d-flex align-items-center">
                        <label for="routeName" class="mb-0 ms-2" style="width: 90px;">שם המסלול:</label>
                        <div>
                            <input type="text" id="routeName" class="form-control flex-grow-1" disabled>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <label for="routeGoal" class="mb-0 ms-2" style="width: 90px;">מטרה:</label>
                        <div>
                            <input type="text" id="routeGoal" class="form-control flex-grow-1" disabled>
                        </div>
                    </div>
                </div>


                <div class="form-group mt-2">
                    <label style="font-weight: bold;">תחנות:</label>
                    <div id="stationList" class="list-group mt-2">
                        <!-- All Places -->
                    </div>

                    <div class="list-group-item d-flex  text-secondary align-items-center mt-2">
                        <i class="fas fa-map-marker-alt"></i>
                        <button id="addStationBtn" class="btn btn-outline-secondary me-4" aria-label="Add Station">
                            הוספת תחנה
                        </button>
                    </div>
                </div>

                <div class="form-group" id="stationSelect" style="display: none; border: 1px solid #333; padding: 10px;">
                    <input type="text" id="stationSearchInput" class="form-control mt-2" placeholder="הזן שם תחנה...">

                    <div class="d-flex flex-wrap justify-content-between mt-2">

                        <!-- Select for body part -->
                        <select id="bodyPartSelect" class="form-control" style="flex: 0 0 45%;">
                            <option value="">בחר פלג גוף</option>
                            <option value="ליבה">ליבה</option>
                            <option value="פלג גוף תחתון">פלג גוף תחתון</option>
                            <option value="פלג גוף עליון">פלג גוף עליון</option>
                        </select>

                        <!-- Select for muscle type -->
                        <select id="muscleTypeSelect" class="form-control" style="flex: 0 0 45%;">
                            <option value="">בחר סוג שריר</option>
                            <option value="שריר גדול">שריר גדול</option>
                            <option value="שריר קטן">שריר קטן</option>
                        </select>
                    </div>

                    <div id="stationResults" class="list-group mt-2" style="display: none;">
                        <!-- Filtered stations will be dynamically added here -->
                    </div>
                </div>

                <div class="text-center mt-4">
                    <button id="saveRouteBtn">שמירה</button>
                </div>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

            <script>
                $(document).ready(function () {
                    fetchStations();

                    $('#addStationBtn').click(function () {
                        $('#stationSelect').toggle();
                    });

                    const routeData = JSON.parse(sessionStorage.getItem('routeData'));

                    if (routeData) {
                        $('#routeName').val(routeData.name);
                        console.log(routeData.name)

                        $('#routeGoal').val(routeData.goal);
                        console.log(routeData.goal)

                        const places = routeData.places || [];
                        const placesList = $('#stationList');

                        console.log(places);

                        if (places.length > 0) {
                            places.forEach(place => {
                                const bodyPartTags = place.tags.filter(tag => tag.category.name === "פלג גוף");
                                const muscleTags = place.tags.filter(tag => tag.category.name === "אימון שריר");

                                let bodyParts = bodyPartTags.map(tag => tag.name).join(', ');
                                let muscles = muscleTags.map(tag => tag.name).join(', ');

                                const listItem = `
                                    <div class="list-group-item d-flex  align-items-center" data-station-id="${place._id}">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span class="d-flex align-items-center w-100 justify-content-between ">
                                            <span class="station-name d-flex align-items-center bg-light p-2 rounded me-2">
                                                ${place.name}
                                                <button type="button" class="btn btn-outline-dark delete-btn me-4" aria-label="Remove station">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </span>
                                            <div class="tags-info" style="margin-right:10px;">
                                                ${bodyParts ? `<p><span class="underline">פלג גוף:</span> ${bodyParts}</p>` : ''}
                                                ${muscles ? `<p><span class="underline">שריר:</span> ${muscles}</p>` : ''}
                                            </div>
                                        </span>
                                    </div>                        
                                `;
                                placesList.append(listItem);
                            });
                        }

                    }

                    var stationList = document.getElementById('stationList');
                    var sortable = Sortable.create(stationList, {
                        animation: 150
                    });
                });

                let allStations = [];

                function fetchStations() {
                    fetch('/api/v1/places/')
                        .then(response => response.json())
                        .then(data => {
                            allStations = data;
                        })
                        .catch(error => console.error('Error fetching stations:', error));
                }

                $('#stationSearchInput ,#bodyPartSelect, #muscleTypeSelect').on('input change', filter);

                function filter() {
                    const searchValue = $('#stationSearchInput').val().toLowerCase();
                    const selectedBodyPart = $('#bodyPartSelect').val();
                    const selectedMuscleType = $('#muscleTypeSelect').val();

                    const filteredStations = allStations.filter(station => {
                        const matchesSearch = searchValue.trim() !== ""
                            ? station.name.toLowerCase().startsWith(searchValue)
                            : true;

                        const matchesBodyPart = selectedBodyPart
                            ? station.tags.some(tag => tag.category.name === "פלג גוף" && tag.name === selectedBodyPart)
                            : true;

                        const matchesMuscleType = selectedMuscleType
                            ? station.tags.some(tag => tag.category.name === "אימון שריר" && tag.name === selectedMuscleType)
                            : true;

                        return matchesSearch && matchesBodyPart && matchesMuscleType && station.isRelevant === true;
                    });

                    const stationResults = $('#stationResults');
                    stationResults.empty();
                    stationResults.show();

                    if (filteredStations.length > 0) {
                        filteredStations.forEach(station => {
                            stationResults.append(`
                                <li class="list-group-item station-result" data-station-id="${station._id}">
                                    ${station.name}
                                </li>
                            `);
                        });
                    } else {
                        stationResults.append(`
                            <li class="list-group-item">
                                אין תוצאות התואמות את החיפוש
                            </li>
                        `);
                    }
                }


                $(document).on('click', '.station-result', function () {
                    const selectedStationId = $(this).data('station-id');
                    const selectedStationName = $(this).text();

                    $('#stationList').append(`
                                <div class="list-group-item d-flex  align-items-center" data-station-id="${selectedStationId}">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span class="d-flex align-items-center  me-4">
                                        <span class="station-name d-flex align-items-center bg-light p-2 rounded">
                                            ${selectedStationName}
                                            <button type="button" class="btn btn-outline-dark delete-btn me-4" aria-label="Remove station">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </span>
                                    </span>
                                </div> 
                             `);

                    $('#stationResults').hide();
                    $('#stationSearchInput').val('');
                });


                $('#stationList').on('click', '.delete-btn', function () {
                    $(this).closest('div').remove();
                });

                $('#saveRouteBtn').on('click', async function () {
                    const routeData = JSON.parse(sessionStorage.getItem('routeData'));

                    const route = {
                        ...routeData,
                        places: []
                    };

                    $('#stationList .list-group-item').each(function () {
                        const stationName = $(this).data('station-id');
                        route.places.push(stationName);
                    });

                    const currentPath = window.location.pathname;

                    if (currentPath.includes('/admin/update-route/places')) {
                        await updateRoute(route);
                    } else if (currentPath.includes('/admin/add-new-route/places')) {
                        await addRoute(route);
                    }
                })


                // Function to add a new route
                async function addRoute(route) {
                    $.ajax({
                        url: '/api/v1/routes',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(route),
                        success: function () {
                            window.location.href = '/admin';
                        },
                        error: function (xhr, status, error) {
                            console.error(`Error adding route: ${xhr.responseText || status}`);
                            alert(`Failed to add route: ${xhr.responseText || error}`);
                        }
                    });
                }

                // Function to update a route
                async function updateRoute(route) {

                    $.ajax({
                        url: `/api/v1/routes/${route._id}`,
                        method: 'PUT',
                        contentType: 'application/json',
                        data: JSON.stringify(route),
                        success: function () {
                            window.location.href = '/admin';
                            console.log(route)
                        },
                        error: function (xhr, status, error) {
                            console.error(`Error updating route: ${xhr.responseText || status}`);
                            alert(`Failed to update route: ${xhr.responseText || error}`);
                        }
                    });
                }
            </script>
    </body>

</html>